<nav class="m-3">
	<ul class="nav nav-tabs justify-content-center">
		<li class="nav-item">
			<a class="nav-link" asp-controller="Clients" asp-action="Index" check-active="true" ignore-action="true">Clients</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Sellers" asp-action="Index" check-active="true" ignore-action="true">Sellers</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Orders" asp-action="Index" check-active="true" ignore-action="true">Orders</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-controller="Report" asp-action="Index" check-active="true" ignore-action="true">Report</a>
		</li>
	</ul>
</nav>