@model SellerTreeViewModel
<a type="button" class="btn btn-success mb-3" asp-controller="Sellers" asp-action="AddSeller">Add Seller</a>
<ul id="tree" class="list-group">
    @foreach (var item in Model.Nodes)
    {
        <partial name="_SellersTreeView" model="item" />
    }
</ul>

@section Styles {
<link rel="stylesheet" href="~/css/tree-view.css" />
}

@section Scripts {
<script src="~/js/tree-view.js"></script>
}