
<p>From Date: <input type="date" id="from" name="from" class="form-control" /></p>
<p>To Date: <input type="date" id="To" name="To" class="form-control" /></p>

<p>Result: <label id="result" /></p>


<button class="btn btn-primary" onclick="onButtonClick()">Get Data</button>

@section scripts {
    <script src="~/js/report.js"></script>
}